{{model}}

{{test}}

	<div>
		<div>
			<img/>
			<h2>PlatON NewBaleyworld 测试网水龙头</h2>
		</div>
		<div>
			
			<input placeholder="输入您的钱包地址" onchange={{action "onInputChange"}}/>
			{{#if receiveDisabled}}
			<button  disabled >申领LAT</button>
			{{else}}
			<button >申领LAT</button>
			{{/if}}
		</div>
		<div>
			<ul>
				
				<li>
					<img/>
					<p>水龙头地址余额</p>
					
					{{#if model.balance}}
						<p>{{model.balance}}</p>
					{{else}}
						<p>NOT FOUND</p>
					{{/if}}
				</li>
				<li>
					<img/>
					<p>今日可领金额</p>
					<p></p>
				</li>
				<li>
					<img/>
					<p>服务运行状态</p>
					<p></p>
				</li>
			</ul>
		</div>
		<div></div>
		<div>水龙头运行说明：

水龙头支持每天领取测试网200LAT！

该PlatON水龙头在NewBaleyworld 网络上运行。为了防止恶意攻击者频繁恶意领取攻击，只有完成论坛注册和登录，并达到信任等级“初级用户”才能申领。

通过以下方式获得“初级用户”

输入至少5个主题
阅读至少30个帖子
总共花费10分钟阅读帖子
您可以在地址输入框下方跟踪当前的待处理请求，以查看轮到您需要等待的时间。</div>

	</div>
