<div class="faucet">
	<div class="faucet_title">
		<div><img src={{faucetImageUrl}} ></div>
		<p>PlatON NewBaleyworld 测试网水龙头</p>
	</div>





{{model}}
{{model.length}}
{{model.test}}
  {{#load-more selector=".directory tbody tr" action=(action "loadMore")}}
    <div class="container">
      <div class='directory'>
        {{plugin-outlet name="users-top" connectorTagName='div' args=(hash model=model)}}
        <div class='clearfix'>
          {{period-chooser period=period onChange=(action (mut period))}}
          {{text-field value=nameInput placeholderKey="directory.filter_name" class="filter-name no-blur"}}
        </div>

        {{#conditional-loading-spinner condition=model.loading}}
          {{#if model.length}}

            <table>
              <thead>
               
                {{directory-toggle field="user_id" order=order asc=asc }}
                {{directory-toggle field="user_name" order=order asc=asc }}
                {{directory-toggle field="address" order=order asc=asc}}
                {{directory-toggle field="amount" order=order asc=asc}}
                {{directory-toggle field="create_at" order=order asc=asc}}
                {{directory-toggle field="status" order=order asc=asc}}
                
              </thead>
              <tbody>
               {{#each model as |item|}}
                  <tr>
                  	<td>{{ item.user_id}}</td>
                  	<td>{{ item.user_name}}</td>
                  	<td>style="display: block; overflow: hidden; text-overflow: ellipsis;  -o-text-overflow: ellipsis;;">{{ item.address}}</td>
                  	<td>{{ item.amount}}</td>
                  	<td>{{ item.created_at}}</td>
               		<td>{{ item.status}}</td>
               
                	</tr>

                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class='clearfix'></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}

  
	
	
	
</div>
