<div class="faucet">
	<div class="faucet_title">
		<div><img src={{faucetImageUrl}} ></div>
		<p>{{i18n "faucet.title"}}</p>
	</div>

 
    <div class="container">
      <div class='directory'>
        {{plugin-outlet name="users-top" connectorTagName='div' args=(hash model=model)}}
       <div class="faucet_links"> 
        <a href="/faucet" style="margin-right: 10px;">{{i18n "faucet.links.title"}}</a>
        <a href="/faucet/export" target="_blank" style="margin-right: 10px;">{{i18n "faucet.export_histories"}}</a>
        <a href="/admin/site_settings/category/plugins?filter=faucet">{{i18n "faucet.settings"}}</a>
      </div>

        {{#conditional-loading-spinner condition=model.loading}}
          {{#if content.length}}

            <table>
              <thead>
               
                {{directory-toggle field="user_id" order=order asc=asc }}
                {{directory-toggle field="user_name" order=order asc=asc }}
                {{directory-toggle field="address" order=order asc=asc}}
                {{directory-toggle field="amount" order=order asc=asc}}
                {{directory-toggle field="created_at" order=order asc=asc}}
                {{directory-toggle field="status" order=order asc=asc}}
                
              </thead>
              <tbody>
               {{#each content as |item|}}
                  <tr>
                  	<td>{{ item.user_id}}</td>
                  	<td>{{ item.user_name}}</td>
                  	<td>{{ item.address}}</td>
                  	<td>{{ item.amount}}</td>
                  	<td>{{ item.created_at}}</td>
               		<td>{{ item.status}}</td>
               
                	</tr>

                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}

            
          {{else}}
            <div class='clearfix'></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
          {{pagination currentPage=currentPage totalPages=totalPages action=(action "changePage")}}
        {{/conditional-loading-spinner}}

      </div>
    </div>


</div>
