<div class="faucet">
	<div class="faucet_title">
		<div><img src={{faucetImageUrl}} ></div>
		<p>{{i18n "faucet.title"}}</p>
	</div>
	{{#if currentUser.admin }}
		<div class="faucet_links"> 
			<a href="/faucet/histories" style="margin-right: 10px;">{{i18n "faucet.histories"}}</a>
			<a href="/faucet/export" target="_blank" style="margin-right: 10px;">{{i18n "faucet.export_histories"}}</a>
			<a href="/admin/site_settings/category/plugins?filter=faucet">{{i18n "faucet.settings"}}</a>
		</div>
	{{/if}}
	
	<div class="faucet_input">
		
		{{input placeholder=(i18n "faucet.input_address")  value=address name="address" }}
                
		{{d-button  class="btn-large btn-primary" disabled=receiveDisabled label="faucet.claim_lat"  action=(action "claim")   }}
		{{input-tip validation=addressValidation id="address-validation"}}
	</div>
	{{#conditional-loading-spinner condition=loading}}
	{{/conditional-loading-spinner}}
	{{#if isClaimTip}}
		<div style="text-align: center; padding: 10px;"><span style={{claim_tip_style}}>{{claim_tip}}</span>
	</div>
	{{/if}}
	<div class="faucet_info">
		<ul>
			
			<li>
				<img src={{balanceImageUrl}} />
				<span class="span_top">{{i18n "faucet.address_balance"}}</span>
				<span class="span_bottom">{{model.balance}} LAT</span>
			</li>
			<li>
				<img src={{availableImageUrl}}/>
				<span class="span_top">{{i18n "faucet.balance_today"}}</span>
				<span class="span_bottom">{{model.amount}} LAT</span>
			</li>
			<li>
				<img src={{statusbleImageUrl}}/>
				<span class="span_top">{{i18n "faucet.server_status"}}:</span>
				<span class="span_bottom_status" style={{model.serviceStatusStyle}}>{{i18n serviceStatus}}</span>
				
			</li>
		</ul>
	</div>
	{{#if claimed}}
	<div class="claim_status">
		<div class="claim_1">
			{{avatar currentUser imageSize="small"}}
			<span class="span_top">{{currentUser.username}}</span>
			<span class="span_bottom">{{currentUser.name}}</span>
		</div>
		<div class="claim_2">
			<span>{{t_address}}</span>
		</div>
		<div class="claim_3">
			<span>{{i18n t_status}}</span>
			<div class="claim_3_div">
				<div style ={{claimed_style}}></div>
			</div>
		</div>
	</div>
	{{/if}}
	
	
</div>
<div class="faucet_doc">
	
	{{html-safe (i18n "faucet.introduction")}}
	
</div>