<div class="faucet">
	<div class="faucet_title">
		<div><img src={{faucetImageUrl}} ></div>
		<p>{{i18n "faucet.title"}}</p>
	</div>
	{{#if currentUser.admin }}
		<div class="faucet_links"> 
			<a href="/faucet/histories" style="margin-right: 10px;">领取历史</a>
			<a href="/faucet/export" style="margin-right: 10px;">导出历史记录</a>
			<a href="/admin/site_settings/category/plugins?filter=faucet">设置</a>
		</div>
	{{/if}}
	
	<div class="faucet_input">
		
		{{input placeholder="输入您的钱包地址"  value=address name="address" }}
                
		{{d-button  class="btn-large btn-primary" disabled=receiveDisabled label="faucet.claim_lat"  action=(action "claim")   }}
		{{input-tip validation=addressValidation id="address-validation"}}
	</div>
	{{#conditional-loading-spinner condition=loading}}
	{{/conditional-loading-spinner}}
	{{#if isClaimTip}}
		<div style="text-align: center; padding: 10px;"><span style={{claim_tip_style}}>{{claim_tip}}</span>
	</div>
	{{/if}}
	<div class="faucet_info">
		<ul>
			
			<li>
				<img src={{balanceImageUrl}} />
				<span class="span_top">水龙头地址余额</span>
				<span class="span_bottom">{{model.balance}}  LAT</span>
			</li>
			<li>
				<img src={{availableImageUrl}}/>
				<span class="span_top">今日可领余额</span>
				<span class="span_bottom">{{model.amount}}  LAT</span>
			</li>
			<li>
				<img src={{statusbleImageUrl}}/>
				<span class="span_top">服务运行状态:</span>
				{{#if serviceStatus.running}}
				<span class="span_bottom_status">运行中</span>
				{{/if}}
				{{#if serviceStatus.suspend}}
				<span class="span_bottom_status">暂停中</span>
				{{/if}}
				{{#if serviceStatus.down}}
				<span class="span_bottom_status">异常中</span>
				{{/if}}
			</li>
		</ul>
	</div>
	{{#if claimed}}
	<div class="claim_status">
		<div class="claim_1">
			{{avatar currentUser imageSize="small"}}
			<span class="span_top">{{currentUser.username}}</span>
			<span class="span_bottom">{{currentUser.name}}</span>
		</div>
		<div class="claim_2">
			<span>{{t_address}}</span>
		</div>
		<div class="claim_3">
			<span>{{i18n t_status}}</span>
			<div class="claim_3_div">
				<div style ={{claimed_style}}></div>
			</div>
		</div>
	</div>
	{{/if}}
	
	
</div>
<div class="faucet_doc">
	
	{{html-safe (i18n "faucet.introduction")}}
	
</div>